# <span style="color: blue;">TOPIC: String Based Assignment Problem</span>

####  <span style="color: green;"> 1. Write a program to reverse a string.</span>

In [1]:
string=input("Enter the string")
reversed_string=string[::-1]
print("The reversed string is ---",reversed_string)

Enter the string python programme

The reversed string is --- emmargorp nohtyp

#### <span style="color: green;"> 2. Check if a string is a palindrome.</span>

In [8]:
string=input("Enter the string :")
string1=string.lower()
string2=string1.replace(" ","")
reverse=string2[::-1]
if string2== reverse:
    print("The string is a palindrome")
else :
    print("The string is not a palindrome")
print("This is the string after palindrome :-",string2)

Enter the string : MalaYALam

The string is a palindrome
This is the string after palindrome :- malayalam

### <span style="color: green;"> 3. Convert a string to uppercase.<span/>

In [11]:
def up(s):
    s=s.upper()
    return s
up("asmita")

'ASMITA'

### <span style="color: green;">4. Convert a string to lowercase.<span/>

In [13]:
def low(l):
    l=l.lower()
    return l
low("ASMitA")

'asmita'

### <span style ="color: green;">5. Count the number of vowels in a string.<span/>

In [35]:
vow= ('a','e','i','o','u')
s=input("Enter the string :- ")
vow_count=0
for i in s:
    i_low=i.lower()
    if i_low in vow:
        vow_count+=1
print("There are",vow_count,"vowels in the string")

Enter the string :-  Checking how many vowels are there in this string

There are 13 vowels in the string

### <span style="color:green;">6. Count the number of consonants in a string.<span/>

In [36]:
vow= ('a','e','i','o','u')
s=input("Enter the string :- ")
cons_count=0
for i in s:
    i_low=i.lower()
    if i_low not in vow:
        cons_count+=1
print("There are",cons_count,"consonants in the string")

Enter the string :-  Checking how many consonants are there in the string

There are 38 consonants in the string

### <span style="color:green;">7. Remove all whitespaces from a string.<span/>

In [39]:
def whitespace(s):
    s=s.lower()
    s=s.replace(" ","")
    return s
whitespace("I am Asmita Das.A data science student **")

'iamasmitadas.adatasciencestudent**'

### <span style ="color:green;">8. the length of a string without using the `len()` function.<span/>

In [46]:
string_len=0
string=input("Enter the string:- ")    
for i in string:
    string_len+=1
print("The lenth of the string is :-",string_len)

Enter the string:-  Asmita

The lenth of the string is :- 6

### <span style ="color:green;">9. Check if a string contains a specific word.<span/>

In [58]:
string=input("Enter the string:- ")
string1=string.lower()
specific_word= input("Enter the specific word:- ")
specific_word1=specific_word.lower()
if specific_word1 in  string1:
    print ("Yes the sentence contains this specific word :-",specific_word1)
else :
    print ("No the sentence does not contains this specific word:-",specific_word1)

Enter the string:-  Checking if the string contains any specific word given by me.
Enter the specific word:-  GIVen

Yes the sentence contains this specific word :- given

### <span style ="color:green;">10. Replace a word in a string with another word.<span/>

In [7]:
string="This is Smita Das"
print("This is the older string:-",string)
string1= string.replace("Smita","Asmita")
print("This is the new string after replace:-",string1)

This is the older string:- This is Smita Das
This is the new string after replace:- This is Asmita Das

### <span style ="color:green;">11. Count the occurrences of a word in a string.<span/>

In [9]:
s=input("Enter the string:- ")
s1=s.lower()# converting the input  string into lowercase
s2="asmita"
s3=s3.lower()#converting the word into lowercase
occur=s1.count(s2)# counting the occurrences of the word 
print ("The word:-",s2 ,"occours" ,occur, "times in the input string")

Enter the string:-  This is Asmita Das and my name is asmita Das.

The word:- asmita occours 2 times in the input string

### <span style ="color:green;">12. the first occurrence of a word in a string.<span/>

In [36]:
string=input("Enter the string :-")
word=input("Enter the word for check:-")
occurr=string.find(word)
if occurr ==-1:
    print("The word does not occures")
else:
    print("The word occures in the",occurr,"th index")

Enter the string :- this is asmita das and my name is asmita das
Enter the word for check:- asmita

The word occures in the 8 th index

### <span style ="color:green;">13. the last occurrence of a word in a string.<span/>

In [37]:
string=input("Enter the string :-")
word=input("Enter the word for check:-")
occurr=string.rfind(word)
if occurr ==-1:
    print("The word does not occures")
else:
    print("The word occures in the",occurr,"th index")

Enter the string :- this is asmita das and my name is asmita das
Enter the word for check:- asmita

The word occures in the 34 th index

### <span style ="color:green;"> 14. Split a string into a list of words.<span/>

In [4]:
string=input("Enter the string :-")
string_in_list=string.split()
print(string_in_list)

Enter the string :- Hello ! this is asmita das

['Hello', '!', 'this', 'is', 'asmita', 'das']

### <span style ="color:green;">15. Join a list of words into a string.<span/>

In [5]:
print("This is the list of words:-",string_in_list)
string1=" "# taking an empty string and giving space in the empty string
convert_string= string1.join(string_in_list)# joining the list with the empty string 
print (convert_string)

This is the list of words:- ['Hello', '!', 'this', 'is', 'asmita', 'das']
Hello ! this is asmita das

### <span style ="color:green;">16. Convert a string where words are separated by spaces to one where words               
are separated by underscores <span/>.

In [55]:
underscode_string=convert_string.replace(" ","_")

In [56]:
underscode_string

'Hello_!_this_is_asmita_das'

### <span style ="color:green;"> 17. Check if a string starts with a specific word or phrase.<span/>

In [12]:
s=input("Enter the string:-")
check_word=input("Enter the word for check:-")
if s.startswith(check_word):
    print("Yes the word starts with the given word:-",check_word)
else :
    print("No the word does not starts with the given word:-",check_word)

Enter the string:- this is asmita das
Enter the word for check:- this

Yes the word starts with the given word:- this

### <span style ="color:green;"> 18. Check if a string ends with a specific word or phrase.<span/>

In [11]:
s=input("Enter the string:-")
check_word=input("Enter the word for check:-")
if s.endswith(check_word):
    print("Yes the word ends with the given word:-",check_word)
else :
    print("No the word does not ends with the given word:-",check_word)

Enter the string:- this is asmita das
Enter the word for check:- das

Yes the word ends with the given word:- das

### <span style ="color:green;">19. Convert a string to title case (e.g., "hello world" to "Hello World").<span/>

In [21]:
s=input("Enter the string:-")
string_title_case=s.title()
print("The string after converting into title case:-",string_title_case)

Enter the string:- this is asmita das

The string after converting into title case:- This Is Asmita Das

### <span style ="color:green;">20. the longest word in a string.<span/>

In [54]:
s="This is asmita das"
find=s.split()
lenth=[]
for i in find:
    lenth.append(len(i))
print("The lenth of each word",lenth)
print("The lenth of the longest word in the string is ",lenth[2],"and its index is 2")
print("The longest word of the string is:-",find[2])

The lenth of each word [4, 2, 6, 3]
The lenth of the longest word in the string is  6 and its index is 2
The longest word of the string is:- asmita

### <span style ="color:green;">21. the shortest word in a string.<span/>

In [55]:
s="This is asmita das"
find=s.split()
lenth=[]
for i in find:
    lenth.append(len(i))
print("The lenth of each word",lenth)
print("The lenth of the shortest word in the string is ",lenth[1],"and its index is 1")
print("The shortest word of the string is:-",find[1])

The lenth of each word [4, 2, 6, 3]
The lenth of the shortest word in the string is  2 and its index is 1
The shortest word of the string is:- is

### <span style ="color:green;">22. Reverse the order of words in a string..<span/>

In [90]:
l=[]
def reversed_string(s):
    list_string=s.split()[::-1]
    for i in list_string:
        l.append(i)
        
        
reversed_string("hello ! this is asmita das")
print(" ".join(l))

das asmita is this ! hello

### <span style ="color:green;">23. Check if a string is alphanumeric.<span/>

In [98]:
string="asmita2711"
if string.isalnum():
    print("yes the given string is alphanumeric")
else:
    print("No the given string is not alphanumeric")

yes the given string is alphanumeric

### <span style ="color:green;">24. Extract all digits from a string.<span/>

In [33]:

digit=[]
string="asmita2711"
for chr in string:
    if chr.isdigit():
        digit.append(chr)
print(digit)
digit_string=(" ".join(digit))
print("Extracted digits from the string:-",digit_string)

['2', '7', '1', '1']
Extracted digits from the string:- 2 7 1 1

### <span style ="color:green;">25. Extract all alphabets from a string.<span/>

In [36]:
alpha=[]
string="asmita2711"
for chr in string:
    if chr.isalpha():
        alpha.append(chr)
print(alpha)
alpha_string=(" ".join(alpha))
print("Extracted alphabets from the string:-",alpha_string)

['a', 's', 'm', 'i', 't', 'a']
Extracted alphabets from the string:- a s m i t a

### <span style ="color:green;">26. Count the number of uppercase letters in a string.<span/>

In [40]:
count=0
string="AsmitaDas"
for char in string:
    if char.isupper():
        count+=1
print("Number of uppercase letter in the string is:-",count)

Number of uppercase letter in the string is:- 2

### <span style ="color:green;">27. Count the number of lowercase letters in a string.<span/>

In [42]:
count=0
string="Asmita Das"
for char in string:
    if char.islower():
        count+=1
print("Number of lowercase letter in the string is:-",count)

Number of lowercase letter in the string is:- 7

### <span style ="color:green;">28. Swap the case of each character in a string.<span/>

In [48]:
def swap(s):
    swap_char=s.swapcase()
    return swap_char
swap("Asmita Das")

'aSMITA dAS'

### <span style ="color:green;">29. Remove a specific word from a string.<span/>

In [58]:
string=input("Enter the string:")
specific_word=input("write the soecific word for remove:")
string2=string.replace(specific_word,"")
print(string2)

Enter the string: hello this is asmita das
write the soecific word for remove: asmita

hello this is  das

### <span style ="color:green;">30. Check if a string is a valid email address.<span/>

In [21]:
from email_validator import validate_email,EmailNotValidError
input_email=input("Enter the email address:")
try:
    email=validate_email(input_email).email
    print("You have entered valid email")
except EmailNotValidError as errorMsg:
    print ("You have entered invalid email.",str(errorMsg))

Enter the email address: das18asmita@gmail.com

You have entered valid email

### <span style ="color:green;">31. Extract the username from an email address string.<span/>

In [30]:
def test(email_address):
	r = email_address.index("@")
	return "".join(l for l in email_address[:r] if l.isalnum())
email= test('das18asmita@gmail.com')
print(email)

das18asmita

### <span style ="color:green;">32. Extract the domain name from an email address string.<span/>

In [31]:
def test(email_address):
	r = email_address.index("@")+1
	return "".join(l for l in email_address[r:] )
domain=test('das18asmita@gmail.com')
print(domain)

gmail.com

### <span style ="color:green;">33. Replace multiple spaces in a string with a single space.<span/>

input_string=input("Enter the string: ")
single_spaced_string = " ".join(input_string.split())
print(single_spaced_string)

### <span style ="color:green;">34. Check if a string is a valid URL.<span/>

In [69]:
from urllib.parse import urlparse
def url(urls):
    parsed = urlparse(urls)
    if parsed.scheme and parsed.netloc:
        return True
    else :
        return False
check_url=input("Enter the url : ")
url(check_url)

Enter the url :  https://www.amazon.com/

True

### <span style ="color:green;">35. Extract the protocol (http or https) from a URL string.<span/>

In [79]:
from urllib.parse import urlparse
def url(urls):
    parsed = urlparse(urls)
    if parsed.scheme and parsed.netloc:
        protocol = urls.find("://")
        return "".join(l for l in urls[:protocol] )
check_url=input("Enter the url : ")
print("Protocol :",url(check_url))

Enter the url :  https://www.amazon.com/

Protocol : https

### <span style ="color:green;">36. the frequency of each character in a string.<span/>

In [111]:
input_string=input("The string is :")
frequency={}
for i in input_string:
    if i in frequency:
        frequency[i]+=1
    else:
        frequency[i] = 1
print("count of all the characters in the string",frequency)

The string is : asmita das

count of all the characters in the string {'a': 3, 's': 2, 'm': 1, 'i': 1, 't': 1, ' ': 1, 'd': 1}

### <span style ="color:green;">37. Remove all punctuation from a string.<span/>

In [118]:
import string 
original_string=input("The original string is: ")
for punctuation in string.punctuation:
    original_string=original_string.replace(punctuation,"")
print("The string after removing punctuation :",original_string)

The original string is:  "The quick brown fox jumped over the lazy dog. #Nonsense!!!"

The string after removing punctuation : The quick brown fox jumped over the lazy dog Nonsense

### <span style ="color:green;">38. Check if a string contains only digits.<span/>

In [125]:
def input_string(digit_string):
    if digit_string.isdigit():
        return True
    else :
        return False
digit_string1="2023"
digit_string2="its2023"
result1=input_string(digit_string1)
result2=input_string(digit_string2)
print(f"'{digit_string1}' contains only digits:", result1)
print(f"'{digit_string2}' contains only digits:", result2)

'2023' contains only digits: True
'its2023' contains only digits: False

### <span style ="color:green;">39. Check if a string contains only alphabets.<span/>

In [141]:
def input_string(string):
    if string.isalpha():
        return True
    else :
        return False
string1="asmita"
string2="its2023"
result1=input_string(string1)
result2=input_string(string2)
print(f"'{string1}' contains only letters:", result1)
print(f"'{string2}' contains only letters:", result2)

'asmita' contains only letters: True
'its2023' contains only letters: False

### <span style ="color:green;">40. Convert a string to a list of characters.<span/>

In [160]:
def input_string(string):
    char_list= list(string)
    return char_list
given_string="asmita"
char_list=input_string(given_string)
print("The given string is: ",given_string)
print("The string after converting into list: ",char_list)

The given string is:  asmita
The string after converting into list:  ['a', 's', 'm', 'i', 't', 'a']

### <span style ="color:green;">41. Check if two strings are anagrams.<span/>

In [165]:
def anagram(x,y):
    x=x.replace(" ","").lower()
    y=y.replace(" ","").lower()
    if sorted(x) == sorted(y) :
        print("Yes the strings are anagram")
    else:
        print("No, the strings are not anagrams")
s1= input("The first string is : ")
s2=input("The second string is : ") 
anagram(s1,s2)

The first string is :  Cinema
The second string is :  ice man

Yes the strings are anagram

### <span style ="color:green;">42. Encode a string using a Caesar cipher.<span/>

In [172]:
def caesar_cipher(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = (ord(char) - ord('a') + shift) % 26
            char = chr(shifted + ord('a'))
            if is_upper:
                char = char.upper()
        encrypted_text += char

    return encrypted_text
plaintext = "Hello, world!"
shift_amount = 3  

encrypted_text = caesar_cipher(plaintext, shift_amount)
print("Original: " , plaintext)
print("Encrypted: " , encrypted_text)

Original:  Hello, world!
Encrypted:  Khoor, zruog!

### <span style ="color:green;">43. Decode a Caesar cipher encoded string.<span/>

In [173]:
def caesar_decipher(text, shift):
    decrypted_text = ""

    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            shifted = (ord(char) - ord('a') - shift) % 26
            char = chr(shifted + ord('a'))
            if is_upper:
                char = char.upper()
        decrypted_text += char

    return decrypted_text


encoded_text = "Khoor, zruog!"
shift_amount = 3  

decoded_text = caesar_decipher(encoded_text, shift_amount)
print("Encoded: " + encoded_text)
print("Decoded: " + decoded_text)

Encoded: Khoor, zruog!
Decoded: Hello, world!

### <span style ="color:green;">44. the most frequent word in a string.<span/>

In [2]:
from collections import defaultdict
my_list = ["this is asmita das", " its asmita", "my name is asmita das"]

print(f"The list is :\n{my_list}")

my_temp = defaultdict(int)

for sub in my_list:
   for word in sub.split():
      my_temp[word] += 1

result = max(my_temp, key=my_temp.get)

print("The word that has the maximum frequency :",result)

The list is :
['this is asmita das', ' its asmita', 'my name is asmita das']
The word that has the maximum frequency : asmita

### <span style ="color:green;">45. all unique words in a string.<span/>

In [12]:
import re
dict = {} 
 
def uniqueWord(Word): 
 
    if Word in dict: 
        dict[words] += 1
    else:
        dict.update({words: 1}) 
 
if __name__ == '__main__': 
     
    string = "hello world,hello this is asmita,hello all."
    ListOfWords = re.split("[\W]+", string)
    for words in ListOfWords: 
        uniqueWord(words) 
    for elements in dict: 
        if dict[elements] == 1: 
            print(elements)

world
this
is
asmita
all

### <span style ="color:green;">46. Count the number of syllables in a string.<span/>

In [16]:
import re

def count_syllables(word):
    return len(
        re.findall('(?!e$)[aeiouy]+', word, re.I) +
        re.findall('^[^aeiouy]*e$', word, re.I))
word1="hello"
word2="asmita"
syllables1=count_syllables(word1)
syllables2=count_syllables(word2)
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")

'hello' has 2 syllables.
'asmita' has 3 syllables.

### <span style ="color:green;">47. Check if a string contains any special characters.<span/>

In [24]:
def special_char(string):
    for char in string:
        if not (char.isalpha() or char.isdigit() or char == ' '):
            return True
    return False
string=input()
if special_char(string):
    print("The string contains special characters")
else :
    print("The string does not contains any special characters.")

 hello @good#morning

The string contains special characters

### <span style ="color:green;">48. Remove the nth word from a string.<span/>

In [28]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if 0 <= n < len(words):
        del words[n]
        result_string = " ".join(words)

        return result_string
    else:
        return input_string
input_string = "This is a sample sentence to test the removal of words."
n = 3  
result_string = remove_nth_word(input_string, n)
print("The input string:",input_string)
print("The string after removing the nth word :",result_string)

The input string: This is a sample sentence to test the removal of words.
The string after removing the nth word : This is a sentence to test the removal of words.

### <span style ="color:green;">49. Insert a word at the nth position in a string.<span/>

In [32]:
def insert_word_at_nth_position(input_string, n, word_to_insert):
    words = input_string.split()
    if 0 <= n <= len(words):
        words.insert(n, word_to_insert)
        result_string = " ".join(words)

        return result_string
    else:
        return input_string

input_string = "This is a sample sentence to test "
n = 3  
word_to_insert = "new"  
result_string = insert_word_at_nth_position(input_string, n, word_to_insert)
print("Old sentence:",input_string)

print("New sentence after insertion: ",result_string)

Old sentence: This is a sample sentence to test
New sentence after insertion:  This is a new sample sentence to test

### <span style ="color:green;">50. Convert a CSV string to a list of lists.<span/>

In [34]:
import csv
import io

csv_string = """Name,Age,Location
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,Chicago
"""

csv_reader = csv.reader(io.StringIO(csv_string))

csv_list = [row for row in csv_reader]

for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'Chicago']

# <span style="color: blue;">TOPIC: List Based Practice Problem :</span>

### <span style ="color:green;"> 1. Create a list with integers from 1 to 10.<span/>

In [54]:
a=list(range(1,11))
[i for i in a]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### <span style ="color:green;">2. the length of a list without using the `len()` function.<span/>

In [57]:
def input_list(l):
    count=0
    for i in l:
        count+=1
    return count
l=[2,4,6,8,10,1,2,14]
lenth=input_list(l)
print("Lenth of the list is : ", lenth)

Lenth of the list is :  8

### <span style ="color:green;">3. Append an element to the end of a list.<span/>

In [70]:
my_list=[2,4,6,8]
print(my_list)
append_element=10
my_list.append(append_element)
print("The list after appending new element: ",my_list)

[2, 4, 6, 8]
The list after appending new element:  [2, 4, 6, 8, 10]

### <span style ="color:green;"> 4. Insert an element at a specific index in a list.<span/>

In [71]:
print("Old list",my_list)
my_list.insert(2,5)
print("Updated list: ",my_list)

Old list [2, 4, 6, 8, 10]
Updated list:  [2, 4, 5, 6, 8, 10]

### <span style ="color:green;"> 5. Remove an element from a list by its value.<span/>

In [72]:
my_list=[10,20,30,40,50,60,70]
print("Old list:",my_list)
my_list.remove(40)
print("Updated list:",my_list)

Old list: [10, 20, 30, 40, 50, 60, 70]
Updated list: [10, 20, 30, 50, 60, 70]

### <span style ="color:green;"> 6. Remove an element from a list by its index.<span/>

In [76]:
my_list=[10,20,30,40,50,60,70]
print("Old list:",my_list)
print("Removed element :",my_list[3])
my_list.pop(3)
print("Updated list:",my_list)

Old list: [10, 20, 30, 40, 50, 60, 70]
Removed element : 40
Updated list: [10, 20, 30, 50, 60, 70]

### <span style ="color:green;"> 7. Check if an element exists in a list.<span/>

In [84]:
my_list=[10,20,30,40,50,60,70]
check_element=40
print(my_list)
print("Element to check :",check_element)

if check_element in my_list :
    print("Yes the element exists in the list.")
else :
    print("No the element does not exists in the list.")

[10, 20, 30, 40, 50, 60, 70]
Element to check : 40
Yes the element exists in the list.

### <span style ="color:green;"> 8. the index of the first occurrence of an element in a list.<span/>

In [89]:
my_list=[10,20,30,10,40,50,30,60,70]
print("The index of 30 in the list is ",my_list.index(30))

The index of 30 in the list is  2

### <span style ="color:green;"> 9. Count the occurrences of an element in a list.<span/>

In [95]:
my_list=[10,20,30,10,40,50,30,60,70]
element=10
count=my_list.count(element)
print("Given list:",my_list)
print(f" {element} occurs {count} times in the list")

Given list: [10, 20, 30, 10, 40, 50, 30, 60, 70]
 10 occurs 2 times in the list

### <span style ="color:green;"> 10. Reverse the order of elements in a list.<span/>

In [100]:
my_list = [2,4,6,8,10]
print("Given list:",my_list)
my_list.reverse()
print("Reversed list:",my_list)

Given list: [2, 4, 6, 8, 10]
Reversed list: [10, 8, 6, 4, 2]

### <span style ="color:green;"> 11. Sort a list in ascending order.<span/>

In [101]:
my_list=[2,5,3,4,20,82,54,96,75,12,4,52,10,77]
print("Given list:",my_list)
my_list.sort()
print("Sorted list in ascending  :",my_list)

Given list: [2, 5, 3, 4, 20, 82, 54, 96, 75, 12, 4, 52, 10, 77]
Sorted list : [2, 3, 4, 4, 5, 10, 12, 20, 52, 54, 75, 77, 82, 96]

### <span style ="color:green;"> 12. Sort a list in descending order.<span/>

In [103]:
my_list=[2,5,3,4,20,82,54,96,75,12,4,52,10,77]
print("Given list:",my_list)
my_list.sort(reverse=True)
print("Sorted list in descending :",my_list)

Given list: [2, 5, 3, 4, 20, 82, 54, 96, 75, 12, 4, 52, 10, 77]
Sorted list in descending : [96, 82, 77, 75, 54, 52, 20, 12, 10, 5, 4, 4, 3, 2]

### <span style ="color:green;"> 13. Create a list of even numbers from 1 to 20.<span/>

In [110]:
my_list = []
for i in range(1,21):
    if i %2==0:
        my_list.append(i)
print("List of even numbers: ",my_list)

List of even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### <span style ="color:green;"> 14. Create a list of odd numbers from 1 to 20.<span/>

In [111]:
my_list = []
for i in range(1,21):
    if i %2!=0:
        my_list.append(i)
print("List of even numbers: ",my_list)

List of even numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### <span style ="color:green;"> 15. the sum of all elements in a list.<span/>

In [113]:
my_list=[2,4,6,8,10]
sum=0
for i in my_list:
    sum=sum+i
print("Sum of all elements in the list is :",sum)

Sum of all elements in the list is : 30

### <span style ="color:green;"> 16. the maximum value in a list.<span/>

In [119]:
my_list=[20,2,4,51,10]
print(my_list)
max_val=max(my_list)
print("Maximum value in the list is: ",max_val)

[20, 2, 4, 51, 10]
Maximum value in the list is:  51

### <span style ="color:green;"> 17. the minimum value in a list.<span/>

In [121]:
my_list=[20,2,4,51,10]
print(my_list)
min_val=min(my_list)
print("Minimum value in the list is: ",min_val)

[20, 2, 4, 51, 10]
Minimum value in the list is:  2

### <span style ="color:green;"> 18. Create a list of squares of numbers from 1 to 10.<span/>

In [130]:
list_square=[]
for i in range(1,11):
    list_square.append(i*i)
print("list of squares : ",list_square)

list of squares :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### <span style ="color:green;"> 19. Create a list of random numbers.<span/>

In [149]:
import random

rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[6, 6, 6, 8, 5, 9, 5, 8, 5, 6]

### <span style ="color:green;"> 20. Remove duplicates from a list.<span/>

In [151]:
my_list=[2,4,2,5,6,4,82,45,14,45,78,41,14,20,32]
clean_list=list(set(my_list))
print(clean_list)

[32, 2, 4, 5, 6, 41, 45, 14, 78, 82, 20]

### <span style ="color:green;"> 21. the common elements between two lists.<span/>

In [162]:
def common_elements(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements") 
          
  
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_elements(a, b)

[{5}]

### <span style ="color:green;"> 22. the difference between two lists.<span/>

In [164]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

### <span style ="color:green;"> 23. Merge two lists.<span/>

In [165]:
my_list1=[10,20,30,40]
my_list2=[50,60,70,80]
new_list=my_list1 + my_list2
print(new_list)

[10, 20, 30, 40, 50, 60, 70, 80]

### <span style ="color:green;"> 24. Multiply all elements in a list by 2.<span/>

In [173]:
my_list1 = []
my_list2 = []

for i in range(1,11):
    my_list1.append(i)
    my_list2.append(i*2)
print("Old list: ",my_list1)
print("list after multiplied by 2: ",my_list2)

Old list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list after multiplied by 2:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### <span style ="color:green;"> 25. Filter out all even numbers from a list.<span/>

In [176]:
my_list=[2,3,4,5,6,7,8,9,10]
for i in my_list:
    if i %2==0:
        print(i)

2
4
6
8
10

### <span style ="color:green;"> 26. Convert a list of strings to a list of integers.<span/>

In [185]:
string_list = ["10", "20", "30", "40", "50"]
print("List if string: ",string_list)
integer_list=[]
for i in string_list:
    integer_list.append(int(i))
print("list of integers: ",integer_list)

List if string:  ['10', '20', '30', '40', '50']
list of integers:  [10, 20, 30, 40, 50]

### <span style ="color:green;"> 26. Convert a list of strings to a list of integers.<span/>

In [186]:
integer_list=[10,20,30,40,50]
string_list=[]
for i in integer_list:
    string_list.append(str(i))
print("list of string: ",string_list)

list of string:  ['10', '20', '30', '40', '50']

### <span style ="color:green;"> 28. Flatten a nested list.<span/>

In [187]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for i in my_list:
    for j in i:
        flat_list.append(j)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

### <span style ="color:green;"> 29. Create a list of the first 10 Fibonacci numbers.<span/>

In [188]:
p=0
q=1
n=int(input("Enter the number of terms: "))
i=2
List=[p,q]
while i<n:
  fibo=p+q
  List.append(fibo)
  p=q
  q=fibo
  i+=1
print(List)

Enter the number of terms:  10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### <span style ="color:green;"> 30. Check if a list is sorted.<span/>

In [7]:
test_list=[2,4,6,8,10]
check=0
if (test_list == sorted(test_list)):
    check=1
if(check):
    print("Yes the given list is sorted")
else:
    print("No the given list is not sorted")

Yes the given list is sorted

### <span style ="color:green;"> 31. Rotate a list to the left by `n` positions.<span/>

In [14]:
my_list=[2,3,5,9,8]
n=2
rotated_list=my_list[n:]+my_list[:n]
print("The actual list",my_list)
print("The rotated list is :",rotated_list)

The actual list [2, 3, 5, 9, 8]
The rotated list is : [5, 9, 8, 2, 3]

### <span style ="color:green;"> 32. Rotate a list to the right by `n` positions.<span/>

In [23]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

### <span style ="color:green;"> 33. Create a list of  up to 50.<span/>

In [60]:
# Python program to display all the  within an interval

lower = 2
upper = 51
primes = []

print(" between", lower, "and", upper, "are:")

for num in range(lower, upper ):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           primes.append(num)
print(primes)

Prime numbers between 2 and 51 are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### <span style ="color:green;"> 34. Split a list into chunks of size `n`.<span/>

In [64]:
my_list = [1, 2, 3, 4, 5, 
		6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
	x = i 
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

### <span style ="color:green;"> 35. the second largest number in a list.<span/>

In [84]:
my_list = [2,18,2,26,12,14,12,41]
#removing the duplicates and sorting the list into ascending order in a new variable
my_list1=sorted(list(set(my_list)))
# printing the sorted list
print(my_list1)
#we can understand the element before the last one is the second largest number
print("The second largest number in the list is:",my_list1[-2])

[2, 12, 14, 18, 26, 41]
The second largest number in the list is: 26

### <span style ="color:green;"> 36. Replace every element in a list with its square.<span/>

In [88]:
my_list = [2,4,6,8]
squared_list = []
for i in my_list:
    i = i*i
    squared_list.append(i)
print("my_list:",my_list)
print("Squared list :",squared_list)

my_list: [2, 4, 6, 8]
Squared list : [4, 16, 36, 64]

### <span style ="color:green;"> 37. Convert a list to a dictionary where list elements become keys and their indices become values.<span/>

In [92]:
my_list = ["apple", "banana", "cherry", "date"]
my_dict = {}  
for index, element in enumerate(my_list):
    my_dict[element] = index
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

### <span style ="color:green;"> 38. Shuffle the elements of a list randomly.<span/>

In [93]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [5, 4, 7, 2, 3, 10, 1, 8, 9, 6]

### <span style ="color:green;"> 39. Create a list of the first 10 factorial numbers.<span/>

In [95]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = []
for i in range(10):
    factorial_numbers.append(factorial(i))

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### <span style ="color:green;"> 40. Check if two lists have at least one element in common.<span/>

In [99]:
def common_data(list1, list2):
	result = False
	for x in list1:
		for y in list2:
			if x == y:
				result = True
				return result 
				
	return result
	

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

### <span style ="color:green;"> 41. Remove all elements from a list.<span/>

In [106]:
my_list = [2,4,"asmita",2.4]
my_list.clear()
print("The list after removing all the elements: ",my_list)

The list after removing all the elements:  []

### <span style ="color:green;"> 42. Replace negative numbers in a list with 0.<span/>

In [108]:
my_list=[2,4,5,-2,4,-8]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i]= 0
print(my_list)

[2, 4, 5, 0, 4, 0]

### <span style ="color:green;"> 43. Convert a string into a list of words.<span/>

In [111]:
my_string= "hello, welcome to jupyter"
word_list = my_string.split()
print("List of words :",word_list)

List of words : ['hello,', 'welcome', 'to', 'jupyter']

### <span style ="color:green;"> 44. Convert a list of words into a string.<span/>

In [113]:
my_list= ["hello,","this","is","asmita"]
my_string = " ".join(my_list)
print(my_string)

hello, this is asmita

### <span style ="color:green;"> 45. Create a list of the first n powers of 2.<span/>

In [114]:
n=10
powered_list = []
for i in range(n):
    i = i**2
    powered_list.append(i)
print("The list of the first n powers of 2 is :",powered_list)

The list of the first n powers of 2 is : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### <span style ="color:green;"> 46. the longest string in a list of strings.<span/>

In [118]:
string_list = ["asmita","das","data","science","python"]
longest_string = []
for i in string_list :
    if len(i) > len(longest_string):
        longest_string=i
print("The longest string in the list is :",longest_string)

The longest string in the list is : science

### <span style ="color:green;"> 47. the shortest string in a list of strings.<span/>

In [120]:
string_list = ["asmita","das","data","science","python"]
shortest_string = string_list[0]
for i in string_list :
    if len(i) < len(shortest_string):
        shortest_string=i
print("The longest string in the list is :",shortest_string)

The longest string in the list is : das

### <span style ="color:green;"> 48. Create a list of the first `n` triangular numbers.<span/>

In [122]:
n=10
triangular_numbers =[]
for i in range(1,n+1):
    i=i*(i+1)//2
    triangular_numbers.append(i)
print("List of the first n triangular numbers:",triangular_numbers)

List of the first n triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

### <span style ="color:green;"> 49. Check if a list contains another list as a subsequence.<span/>

In [3]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [2, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### <span style ="color:green;">50. Swap two elements in a list by their indices<span/>

In [126]:
def swapPositions(my_list, position1, position2):
    my_list[position1], my_list[position2] = my_list[position2], my_list[position1]
    return my_list
 
# Driver function
my_List = [20, 60, 10, 30,50]
position1  = 1
position2   =3
 
print(swapPositions(my_List, position1 -1, position2-1))

[10, 60, 20, 30, 50]

# <span style="color: blue;">TOPIC: Tuple Based Assignment Problem</span>

### <span style ="color:green;">1. Create a tuple with integers from 1 to 5.<span/>

In [4]:
my_tuple =(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

### <span style ="color:green;">2. Access the third element of a tuple.<span/>

In [8]:
my_tuple = (10,20,30,40,50)

print("The third element of the tuple is :",my_tuple[2])

The third element of the tuple is : 30

### <span style ="color:green;">3. Count the length of a tuple without using the `len()` function.<span/>

In [9]:
my_tuple =(2,4,6,8,10,1,2)
lenth =0
for i in my_tuple :
    lenth = lenth +1
print("The lenth of the tuple is : ",lenth)

The lenth of the tuple is :  7

### <span style ="color:green;">4. Count the occurrences of an element in a tuple.<span/>

In [12]:
my_tuple = (2,4,5,6,7,8,9,2,12,2)
element=2
count =0
for i in my_tuple:
    if i == element:
        count+=1
print("The element",element," occurs ",count,"times in the tuple.")

The element 2  occurs  3 times in the tuple.

### <span style ="color:green;">5. the index of the first occurrence of an element in a tuple.<span/>

In [38]:
my_tuple = (1,5,8,2,4,6,5,2,9)

element = int(input("Element to :"))

try:
    index = my_tuple.index(element)
    print("The first occurrence of element is at index", index)
except ValueError:
    print("element is not in the tuple")

Element to find : 2

The first occurrence of element is at index 3

### <span style ="color:green;">6. Check if an element exists in a tuple.<span/>

In [41]:
my_tuple = (1,5,8,2,4,6,5,2,9)
element = int(input("Element to check:"))
if element in my_tuple:
    print("Yes the element",element," exists in the tuple ")
else:
    print("No the element",element," does not exists in the tuple")

Element to check: 2

Yes the element 2  exists in the tuple

### <span style ="color:green;">7. Convert a tuple to a list.<span/>

In [43]:
my_tuple = (1,5,8,2,4,6,5,2,9)
my_list=list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 5, 8, 2, 4, 6, 5, 2, 9)
List: [1, 5, 8, 2, 4, 6, 5, 2, 9]

### <span style ="color:green;">8. Convert a list to a tuple.<span/>

In [45]:
my_list=[1, 5, 8, 2, 4, 6, 5, 2, 9]
my_tuple = tuple(my_list)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 5, 8, 2, 4, 6, 5, 2, 9]
Tuple: (1, 5, 8, 2, 4, 6, 5, 2, 9)

### <span style ="color:green;">9. Unpack the elements of a tuple into variables.<span/>

In [58]:
my_tuple = (1, 5, 8, 2, 4, 6, 5, 2, 9)
print(len(my_tuple))

9

In [62]:
# creating 9 variables as we can see the lenth of the tuple is 9
var1,var2,var3,var4,var5,var6,var7,var8,var9 = my_tuple
print("Variable 1 :",var1)
print("Variable 2 :",var2)
print("Variable 3 :",var3)
print("Variable 4 :",var4)
print("Variable 5 :",var5)
print("Variable 6 :",var6)
print("Variable 7 :",var7)
print("Variable 8 :",var8)
print("Variable 9 :",var9)

Variable 1 : 1
Variable 2 : 5
Variable 3 : 8
Variable 4 : 2
Variable 5 : 4
Variable 6 : 6
Variable 7 : 5
Variable 8 : 2
Variable 9 : 9

### <span style ="color:green;">10. Create a tuple of even numbers from 1 to 10.<span/>

In [77]:
even_numbers = tuple (i for i in range(1,11)if i % 2 ==0)
print("Tuple of even numbers from 1 to 10 : ",even_numbers)

Tuple of even numbers from 1 to 10 :  (2, 4, 6, 8, 10)

### <span style ="color:green;">11. Create a tuple of odd numbers from 1 to 10.<span/>

In [78]:
odd_numbers = tuple (i for i in range(1,11)if i % 2 !=0)
print("Tuple of odd numbers from 1 to 10 : ",odd_numbers)

Tuple of odd numbers from 1 to 10 :  (1, 3, 5, 7, 9)

### <span style ="color:green;">12. Concatenate two tuples.<span/>

In [79]:
tuple_1 = (2,4,6,8)
tuple_2 = (1,3,5,7)
concatenate_tuple = tuple_1 + tuple_2
print("Concatnated tuple is :",concatenate_tuple)

Concatnated tuple is : (2, 4, 6, 8, 1, 3, 5, 7)

### <span style ="color:green;">13. Repeat a tuple three times.<span/>

In [82]:
my_tuple = (1,3,5,7)
repeated_tuple = my_tuple * 3
print("The repeated tuple:",repeated_tuple)

The repeated tuple: (1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7)

### <span style ="color:green;">14. Check if a tuple is empty.<span/>

In [86]:
empty_tuple = ()
my_tuple = (2,4,6,8,10)
if my_tuple == empty_tuple:
    print("Yes the given tuple is empty ")
else :
    print ("No the given tuple is not empty")

No the given tuple is not empty

### <span style ="color:green;">15. Create a nested tuple.<span/>

In [90]:
nested_tuple = ((1,2,3),("asmita","das","python"),("asmits",23,2.4),["das","data_science",40])
print("Nested tuple :",nested_tuple)
print(type(nested_tuple))

Nested tuple : ((1, 2, 3), ('asmita', 'das', 'python'), ('asmits', 23, 2.4), ['das', 'data_science', 40])
<class 'tuple'>

### <span style ="color:green;">16. Access the first element of a nested tuple.<span/>

In [92]:
nested_tuple = ((1,2,3),("asmita","das","python"),("asmits",23,2.4),["das","data_science",40])
print("The first element of the nested tuple  :",nested_tuple[0])

The first element of the nested tuple  : (1, 2, 3)

### <span style ="color:green;">17. Create a tuple with a single element.<span/>

In [93]:
single_element_tuple = ("asmita",)
print(type(single_element_tuple))
print("Single element tuple :",single_element_tuple)

<class 'tuple'>
Single element tuple : ('asmita',)

### <span style ="color:green;">18. Compare two tuples.<span/>

In [104]:
tuple_1 = (1,2,3)
tuple_2 = (1,2,4)
# equality check
if tuple_1 == tuple_2:
    print("1.The both tuples are equal")
else :
    print("1.The both tuples are not equal")
# lenth check
if len(tuple_1) == len(tuple_2):
    print("2.Both the tuple have in same lenth")
else :
    print("2.Both the tuple have in different lenth")
#check for greater than or less than
if tuple_1 > tuple_2:
    print("3.Tuple 1 is greater than tuple 2")
else :
    print("3.Tuple 2 is greater than tuple 1")

1.The both tuples are not equal
2.Both the tuple have in same lenth
3.Tuple 2 is greater than tuple 1

### <span style ="color:green;">19. Delete a tuple.<span/>

In [111]:
tuple_1 = (1,2,3)

del tuple_1

print("Deleted tuple:",tuple_1)

NameError: name 'tuple_1' is not defined

### <span style ="color:green;">20. Slice a tuple.<span/>

In [123]:
my_tuple=(2,4,6,8,10,12,14,16,18,20,22,24,26,28,30)
sliced_tuple = my_tuple[4:11:2]# slicing the tuple from 4th index to 10th index and skipping 2 steps
print("Sliced tuple from my_tuple :",sliced_tuple)

Sliced tuple from my_tuple : (10, 14, 18, 22)

### <span style ="color:green;">21. the maximum value in a tuple.<span/>

In [124]:
my_tuple=(2,4,6,8,10,12,14,16,18,20,22,24,26,28,30)
max_value_in_tuple = max(my_tuple)
print("Maximum value in the tuple is : ",max_value_in_tuple)

Maximum value in the tuple is :  30

### <span style ="color:green;">22. the minimum value in a tuple.<span/>

In [125]:
my_tuple=(2,4,6,8,10,12,14,16,18,20,22,24,26,28,30)
min_value_in_tuple = min(my_tuple)
print("Minimum value in the tuple is : ",min_value_in_tuple)

Minimum value in the tuple is :  2

### <span style ="color:green;">23. Convert a string to a tuple of characters.<span/>

In [2]:
my_string = "asmita@123"
my_tuple = tuple(my_string)
print("The string after converting into tuple :",my_tuple)

The string after converting into tuple : ('a', 's', 'm', 'i', 't', 'a', '@', '1', '2', '3')

### <span style ="color:green;">24. Convert a tuple of characters to a string.<span/>

In [14]:
my_tuple = ('asmita',"das",23)
my_string = str(my_tuple)
print(type(my_tuple))
print(type(my_string))
print("The tuple after converting into string :",my_string)

<class 'tuple'>
<class 'str'>
The tuple after converting into string : ('asmita', 'das', 23)

### <span style ="color:green;"> 25. Create a tuple from multiple data types.<span/>

In [1]:
my_tuple = ("asmita",2,2.2,True,)
print(my_tuple)
print(type(my_tuple))

('asmita', 2, 2.2, True)
<class 'tuple'>

### <span style ="color:green;"> 26. Check if two tuples are identical.<span/>

In [4]:
tuple_1 = (2,4,6)
tuple_2 = (2,4,6)

if tuple_1 == tuple_2:
    print("Tuple 1 and tuple 2 are identical")
else:
    print("Tuple 1 and tuple 2 are not identical")

Tuple 1 and tuple 2 are identical

### <span style ="color:green;"> 27. Sort the elements of a tuple.<span/>

In [6]:
my_tuple = (2,5,3,4,8,12,6,9)
set_tuple = set(my_tuple)
sorted_tuple = tuple(set_tuple)
print(sorted_tuple)
print(type(sorted_tuple))

(2, 3, 4, 5, 6, 8, 9, 12)
<class 'tuple'>

### <span style ="color:green;"> 28. Convert a tuple of integers to a tuple of strings.<span/>

In [18]:
my_tuple =(2,4,6,8)
string_tuple =tuple(str(item) for item in my_tuple)

print("Tuple of strings :",string_tuple)

Tuple of strings : ('2', '4', '6', '8')

### <span style ="color:green;"> 29. Convert a tuple of strings to a tuple of integers.<span/>

In [25]:
string_tuple = ('2', '4', '6', '8')

integers_tuple =tuple(int(item) for item in string_tuple)

print(integers_tuple)

(2, 4, 6, 8)

### <span style ="color:green;"> 30. Merge two tuples.<span/>

In [27]:
tuple_1 = (1,2,3,4)
tuple_2 = (2,4,6,8)
merged_tuple = tuple_1 + tuple_2 
print("Merged tuple :",merged_tuple)

Merged tuple : (1, 2, 3, 4, 2, 4, 6, 8)

### <span style ="color:green;"> 31. Flatten a nested tuple.<span/>

In [47]:
from functools import reduce

def flatten_tuple(nested_tuple):
	def reducer(acc, val):
		if isinstance(val, tuple):
			return acc + flatten_tuple(val)
		else:
			return acc + (val,)

	return reduce(reducer, nested_tuple,())


nested_tuple = ((2,4), ((6, 800), (10, 12), (15, 14)), (((16, 18), (13, 24))))


print("The original tuple : " ,(nested_tuple))


flatten = flatten_tuple(nested_tuple)
 
print("The flattened tuple : " ,flatten)

The original tuple :  ((2, 4), ((6, 800), (10, 12), (15, 14)), ((16, 18), (13, 24)))
The flattened tuple :  (2, 4, 6, 800, 10, 12, 15, 14, 16, 18, 13, 24)

### <span style ="color:green;"> 32. Create a tuple of the first 5 .<span/>

In [111]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
l = []
t =()
for num in range(start, end + 1):
   if num > 1:
       for i in range(2, int(num**0.5) + 1):
           if (num % i) == 0:
               break
       else:
           l.append(num)
           
def convert(l):
    
    return (*l, )
 
print("The tuple of the first five  is : ",convert(l))

Enter the start of range:  2
Enter the end of range:  12

The tuple of the first five prime numbers is :  (2, 3, 5, 7, 11)

### <span style ="color:green;"> 33. Check if a tuple is a palindrome.<span/>

In [102]:
my_tuple =(1,2,3,3,2,1)
if my_tuple == my_tuple[::-1]:
    print("Yes the tuple is a palindrome")
else:
    print("No the tuple is not a palindrome")

Yes the tuple is a palindrome

### <span style ="color:green;"> 34. Create a tuple of squares of numbers from 1 to 5.<span/>

In [112]:
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
print("The square of integers from 1 to 5 is:" ,tup)

The square of integers from 1 to 5 is: (1, 4, 9, 16, 25)

### <span style ="color:green;"> 35. Filter out all even numbers from a tuple.<span/>

In [121]:
my_tuple = (2,5,4,3,8,12,45,25,88,22,11,58,24,57)
l = []
for i in my_tuple:
    if i % 2 == 0:
        l.append(i)
def convert(l):
    return (*l,)
print("Even numbers from the tuple is :",convert(l))

Even numbers from the tuple is : (2, 4, 8, 12, 88, 22, 58, 24)

### <span style ="color:green;"> 36. Multiply all elements in a tuple by 2.<span/>

In [128]:
tup =(2,5,8,7,6,12)
l = []
for i in tup:
    
    l.append(i*2)

def convert(l):
    return (*l, )
print ("Elements after multiplying by 2 :", convert(l))

Elements after multiplying by 2 : (4, 10, 16, 14, 12, 24)

### <span style ="color:green;"> 37. Create a tuple of random numbers.<span/>

In [2]:
import random 
random_num_tuple =tuple(random.randint(1,100) for _ in range(10))
print("Tuple of random numbers :" , random_num_tuple)

Tuple of random numbers : (44, 39, 20, 40, 36, 46, 19, 40, 20, 19)

### <span style ="color:green;"> 38. Check if a tuple is sorted.<span/>

In [6]:
def is_sorted(t):
    for i in range(1,len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t = (1, 2, 3, 5)
print("Tuple is shorted :",is_sorted(t))

Tuple is shorted : True

### <span style ="color:green;"> 39. Rotate a tuple to the left by `n` positions.<span/>

In [8]:
my_tuple = (2,4,6,8,5)
n = 2
rotated_tuple = my_tuple [n:] + my_tuple [ :n]
print("The originaal tuple :",my_tuple)
print("The rotated tuple",rotated_tuple)

The originaal tuple : (2, 4, 6, 8, 5)
The rotated tuple (6, 8, 5, 2, 4)

### <span style ="color:green;"> 40. Rotate a tuple to the right by `n` positions.<span/>

In [12]:
my_tuple = (2,4,6,8,5)
n = 2
rotated_tuple = my_tuple [-n:] + my_tuple [ :-n]
print("The originaal tuple :",my_tuple)
print("The rotated tuple",rotated_tuple)

The originaal tuple : (2, 4, 6, 8, 5)
The rotated tuple (8, 5, 2, 4, 6)

### <span style ="color:green;"> 41. Create a tuple of the first 5 Fibonacci numbers.<span/>

In [14]:
lst = [0,1]
a = 0
b = 1
c = 0

for i in range(3):
    c = a + b
    a = b
    b = c
    lst.append(c)

tup = tuple(lst)

print(" Tuple of the first 5 Fibonacci numbers are:", tup)

 Tuple of the first 5 Fibonacci numbers are: (0, 1, 1, 2, 3)

### <span style ="color:green;"> 42. Create a tuple from user input.<span/>

In [16]:
elements = input("Enter elements")
user_input_tuple = elements.split(",")
print("User input tuple :",user_input_tuple)

Enter elements a,s,m,i,t,a, 2,0,2,2

User input tuple : ['a', 's', 'm', 'i', 't', 'a', ' 2', '0', '2', '2']

### <span style ="color:green;"> 43. Swap two elements in a tuple.<span/>

In [17]:
my_tuple = (2,3,4,6,7,8)
lst =list(my_tuple)
lst [2],lst[5] =lst[5],lst[2]
swapped_tuple = tuple(lst)
print("Swspped tuple:",swapped_tuple)

Swspped tuple: (2, 3, 8, 6, 7, 4)

### <span style ="color:green;"> 44. Reverse the elements of a tuple.<span/>

In [19]:
my_tuple = (2,3,4,6,7,8)
reversed_tuple = my_tuple [::-1]
print("Original Tuple :",my_tuple)
print ("reversed_tuple :",reversed_tuple)

Original Tuple : (2, 3, 4, 6, 7, 8)
reversed_tuple : (8, 7, 6, 4, 3, 2)

### <span style ="color:green;"> 45. Create a tuple of the first `n` powers of 2.<span/>

In [20]:
powers_of_2_tuple = tuple(2 ** i for i in range(5))

# Print the tuple of powers of 2
print("Tuple of the first", 5, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

### <span style ="color:green;"> 46. the longest string in a tuple of strings.<span/>

In [23]:
string_tuple = ("asmita","das","tuple")
longest_string = max(string_tuple,key= len)
print("Longest string in the tuple is :",longest_string)

Longest string in the tuple is : asmita

### <span style ="color:green;"> 47. the shortest string in a tuple of strings.<span/>

In [24]:
string_tuple = ("asmita","das","tuple")
shortest_string = min(string_tuple,key= len)
print("shortest string in the tuple is :",shortest_string)

shortest string in the tuple is : das

### <span style ="color:green;"> 48. Create a tuple of the first `n` triangular numbers.<span/>

In [39]:
n = 5
triangular_sequence = tuple((i * (i+1))// 2 for i in range(1,n+1))
print("Tuple of the first", n, "triangular numbers:", triangular_sequence)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

### <span style ="color:green;"> 49. Check if a tuple contains another tuple as a subsequence.<span/>

In [43]:
main_tuple = (4, 2, 3, 4, 6, 5, 7, 8, 9)
sub_tuple = (3,4,5)
res =  set(sub_tuple).issubset(main_tuple)
print("Tuple contains another tuple as a subsequence:",res)

Tuple contains another tuple as a subsequence: True

### <span style ="color:green;"> 50. Create a tuple of alternating 1s and 0s of length `n`.<span/>

In [ ]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

# <span style="color: blue;">TOPIC: Set Based Assignment Problem</span>

### <span style ="color:green;">1. Create a set with integers from 1 to 5.<span/>

In [60]:
n = 6
my_set = set(range(n))

my_set.remove(0)# removing the first element 0 

print(my_set)

{1, 2, 3, 4, 5}

### <span style ="color:green;">2. Add an element to a set.<span/>

In [65]:
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.add(8)
print("New set after adding the element: ",my_set)

{1, 2, 3, 4, 5}
New set after adding the element:  {1, 2, 3, 4, 5, 8}

### <span style ="color:green;">3. Remove an element from a set.<span/>

In [68]:
my_set = {1, 2, 3, 4, 5, 8}
print("Old set :",my_set)
my_set.remove(8)
print("New set after removing element: ",my_set)

Old set : {1, 2, 3, 4, 5, 8}
New set after removing element:  {1, 2, 3, 4, 5}

### <span style ="color:green;">4. Check if an element exists in a set.<span/>

In [1]:
def check_element(my_set):
    element_to_check= int(input("Enter the element to check :"))
    if element_to_check in my_set:
        return True
    else:
        return False
my_set = {1, 2, 3, 4, 5, 8}
print("The element exist in the set :",check_element(my_set))

Enter the element to check : 8

The element exist in the set : True

### <span style ="color:green;">5. Find the length of a set without using the `len()` function.<span/>

In [83]:
set_lenth = 0
my_set = {1, 2, 3, 4, 5, 8}
for i in my_set:
    set_lenth+=1
print(my_set)
print("Lenth of the set :",set_lenth)

{1, 2, 3, 4, 5, 8}
Lenth of the set : 6

### <span style ="color:green;">6. Clear all elements from a set.<span/>

In [86]:
my_set = {1, 2, 3, 4, 5, 8}
print("Original set: ",my_set)
my_set.clear()
print("The set after clear all the elements: ",my_set)

Original set:  {1, 2, 3, 4, 5, 8}
The set after clear all the elements:  set()

### <span style ="color:green;">7. Create a set of even numbers from 1 to 10.<span/>

In [96]:
empty_set = set()

for i in range (1,11):
    
    if i %2 == 0:
        empty_set.add(i)
        
        even_num_set = empty_set

print("Set of even numbers from 1 to 10: ",even_num_set)

Set of even numbers from 1 to 10:  {2, 4, 6, 8, 10}

### <span style ="color:green;">8. Create a set of odd numbers from 1 to 10.<span/>

In [97]:
empty_set = set()

for i in range (1,11):
    
    if i %2 != 0:
        empty_set.add(i)
        
        odd_num_set = empty_set

print("Set of odd numbers from 1 to 10: ",odd_num_set)

Set of odd numbers from 1 to 10:  {1, 3, 5, 7, 9}

### <span style ="color:green;">9. Find the union of two sets.<span/>

In [98]:
set_1 = {1,2,3,4,5,6}
set_2 = {5,6,7,8,9,10}
union_set = set_1.union(set_2)
print("Set 1 :",set_1)
print("Set 2 :",set_2)
print("Union of set 1 and set 2 :",union_set)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {5, 6, 7, 8, 9, 10}
Union of set 1 and set 2 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### <span style ="color:green;">10. Find the intersection of two sets.<span/>

In [99]:
set_1 = {1,2,3,4,5,6}
set_2 = {5,6,7,8,9,10}
intersection_set = set_1.intersection(set_2)
print("Set 1 :",set_1)
print("Set 2 :",set_2)
print("Intersection  of set 1 and set 2 :",intersection_set)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {5, 6, 7, 8, 9, 10}
Intersection  of set 1 and set 2 : {5, 6}

### <span style ="color:green;">11. Find the difference between two sets.<span/>

In [101]:
set_1 = {1,2,3,4,5,6}
set_2 = {5,6,7,8,9,10}
difference_set = set_1.difference(set_2)
print("Set 1 :",set_1)
print("Set 2 :",set_2)
print(" Difference of set 1 and set 2 :",difference_set)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {5, 6, 7, 8, 9, 10}
 Difference of set 1 and set 2 : {1, 2, 3, 4}

### <span style ="color:green;">12. Check if a set is a subset of another set.<span/>

In [104]:
def is_subset(my_set):
    check_subset = {2,3,4}
    if check_subset.issubset(my_set):
        return True
    else :
        return False
my_set = {1,2,3,4,5,6}
print("The set is subset of another set :",is_subset(my_set))

The set is subset of another set : True

### <span style ="color:green;">13. Check if a set is a superset of another set.<span/>

In [11]:
def is_superset(my_set):
    check_superset = {1,3,5}
    if my_set.issuperset(check_superset):
        return True
    else :
        return False
my_set = {1,2,3,4,5,6}
print("The set is superset of another set :",is_superset(my_set))

The set is superset of another set : True

### <span style ="color:green;">14. Create a set from a list.<span/>

In [13]:
my_list = [1,4,6,2,8,5,7,9,3]
my_set = set(my_list)
print("List: ",my_list)
print("The list after converting into a set :",my_set)

List:  [1, 4, 6, 2, 8, 5, 7, 9, 3]
The list after converting into a set : {1, 2, 3, 4, 5, 6, 7, 8, 9}

### <span style ="color:green;">15. Convert a set to a list.<span/>

In [17]:
my_set = {2,5,6,3,4,8,7,9}
my_list = list(my_set)
print("Original set : ",my_set)
print("The set after converting into a list : ",my_list)

Original set :  {2, 3, 4, 5, 6, 7, 8, 9}
The set after converting into a list :  [2, 3, 4, 5, 6, 7, 8, 9]

### <span style ="color:green;">16. Remove a random element from a set.<span/>

In [23]:
import random
my_set = {2, 3, 4, 5, 6, 7, 8, 9}

print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {2, 3, 4, 5, 6, 7, 8, 9}
Updated set after removing 2 : {3, 4, 5, 6, 7, 8, 9}

### <span style ="color:green;">17. Pop an element from a set.<span/>

In [27]:
my_set = {2, 3, 4, 5, 6, 7, 8, 9}
print("Original set : ",my_set)
popped_element = my_set.pop()
print("The popped element is :",popped_element)
print("The set after popping an element",my_set)

Original set :  {2, 3, 4, 5, 6, 7, 8, 9}
The popped element is : 2
The set after popping an element {3, 4, 5, 6, 7, 8, 9}

### <span style ="color:green;">18. Check if two sets have no elements in common.<span/>

In [47]:
set_1 = {1,2,3,4,5}
set_2 = {10,9,8,7,6}
common_elements =  set_1.intersection(set_2)
if common_elements:
    print("The two sets have common elements :",common_elements)
else:
    print("The two sets  have no common elements.")

The two sets  have no common elements.

### <span style ="color:green;">19. Find the symmetric difference between two sets.<span/>

In [53]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
symmetric_difference = set_1.symmetric_difference(set_2)

print("Symmetric difference :",symmetric_difference)

Symmetric difference : {1, 2, 3, 6, 7, 8}

### <span style ="color:green;">20. Update a set with elements from another set.<span/>

In [6]:
set_1 = {1,2,3,4}
set_2 = {5,7,6,8}
print("Set 1:" ,set_1)
print("Set 2:" ,set_2)
set_1.update(set_2)
print("Updated set :",set_1)

Set 1: {1, 2, 3, 4}
Set 2: {8, 5, 6, 7}
Updated set : {1, 2, 3, 4, 5, 6, 7, 8}

### <span style ="color:green;">21. Create a set of the first 5 prime numbers.<span/>

In [27]:
lower = 1
upper = 19
prime_set = set()

for num in range(lower, upper ):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           prime_set.add(num)
while len(prime_set) <5 :print(prime_Set)

#print("Set of first five prime numbers :",prime_set)

### <span style ="color:green;">22. Check if two sets are identical.<span/>

In [3]:
set_1 = {1,2,3,4}
set_2 = {4,3,2,5}
if set_1 == set_2 :
    print("Set 1 and Set 2 are identical")
else :
    print ("Set 1 and Set 2 are not identical")

Set 1 and Set 2 are not identical

### <span style ="color:green;">23. Create a frozen set.<span/>

In [4]:
lst = [2,4,3,6,8,5]
frozen_set = frozenset(lst)
print("Frozen set :",frozen_set)

Frozen set : frozenset({2, 3, 4, 5, 6, 8})

### <span style ="color:green;">24. Check if a set is disjoint with another set.<span/>

In [12]:
set_1 = {1,2,3,4}
set_2 = {4,7,6,5}
check_disjoint = set_1.isdisjoint(set_2)
print("set 1  is disjoint with set 2 :",check_disjoint)

set 1  is disjoint with set 2 : False

### <span style ="color:green;">25. Create a set of squares of numbers from 1 to 5.<span/>

In [14]:
my_set = set()
for i in range(1,6):
    i = i**2
    my_set.add(i)
print("Set of squares of numbers from 1 to 5: ",my_set)

Set of squares of numbers from 1 to 5:  {1, 4, 9, 16, 25}

### <span style ="color:green;">26. Filter out all even numbers from a set.<span/>

In [24]:
my_set = {2,4,6,8,11,13,12,20}
print("Original set :",my_set)
even_num_set = set()
for i in my_set :
    if i %2 == 0:
        even_num_set.add(i)

print("All even numbers from the original set: ",even_num_set)

Original set : {2, 4, 6, 8, 11, 12, 13, 20}
All even numbers from the original set:  {2, 4, 6, 8, 12, 20}

### <span style ="color:green;">27. Multiply all elements in a set by 2.<span/>

In [6]:
elements = {2,4,10,15,12}
print("Original set:",elements)
my_set = set()
for i in elements :
    my_set.add(i*2)
print("The set after multiplying all elements by 2: ",my_set)

Original set: {2, 4, 10, 12, 15}
The set after multiplying all elements by 2:  {4, 8, 20, 24, 30}

### <span style ="color:green;">28. Create a set of random numbers.<span/>

In [11]:
import random
random_numbers_set = set()
for i in range(10):# lenth of the set will be 10
    random_numbers = random.randint(1,500)
    random_numbers_set.add(random_numbers)
print("Set of random numbers :",random_numbers_set)

Set of random numbers : {32, 160, 164, 68, 478, 211, 372, 153, 157, 126}

### <span style ="color:green;">29. Check if a set is empty.<span/>

In [17]:
my_set = set()
if not my_set:
    print("The set is empty")
else :
    print("The set is not empty")

The set is empty

### <span style ="color:green;">30. Create a nested set (hint: use frozenset).<span/>

In [18]:
set_1 = {1, 2, 3, 4}
set_2 = {6, 7, 8, 9}
frozen_set1 = frozenset(set_1)
frozen_set2 = frozenset(set_2)
nested_set = {frozen_set1, frozen_set2
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4}), frozenset({8, 9, 6, 7})}

### <span style ="color:green;">31. Remove an element from a set using the discard method.<span/>

In [21]:
my_set = {2,4,6,7}
print("Original set :",my_set)

my_set.discard(6)
print('The set after removing 6 :',my_set)

Original set : {2, 4, 6, 7}
The set after removing 6 : {2, 4, 7}

### <span style ="color:green;">32. Compare two sets.<span/>

In [23]:
set_1 = {1,2,3,4}
set_2 = {4,5,6,7}

is_subset = set_1.issubset(set_2)

# Check if set2 is a subset of set1
is_superset = set_1.issuperset(set_2)

# Find the intersection of the sets
intersection = set_1.intersection(set_2)

# Find the union of the sets
union = set_1.union(set_2)

# Find the elements that are in set1 but not in set2
difference1 = set_1.difference(set_2)

# Find the elements that are in set2 but not in set1
difference2 = set_2.difference(set_1)


print("Set 1:", set_1)
print("Set 2:", set_2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4}
Set 2: {4, 5, 6, 7}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4}
Union: {1, 2, 3, 4, 5, 6, 7}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {5, 6, 7}

### <span style ="color:green;">33. Create a set from a string.<span/>

In [28]:
my_string = ("asmita")
my_set = set()
for i in my_string:
    my_set.add(i)
print(my_set)

{'t', 'i', 'a', 'm', 's'}

### <span style ="color:green;">34. Convert a set of strings to a set of integers.<span/>

In [30]:
set_string = {"25","32","48"}
print("Set of string:", set_string)
set_integer = set()
for elements in set_string :
    integer_value = int(elements)
    set_integer.add(integer_value)
print("Set of integer: ",set_integer)

Set of string: {'48', '25', '32'}
Set of integer:  {48, 25, 32}

### <span style ="color:green;">35. Convert a set of integers to a set of strings.<span/>

In [32]:
set_integers= {48, 25, 32}
print("Set of integers:", set_integers)
set_string = set()
for elements in set_integers :
    string_value = str(elements)
    set_string.add(string_value)
print("Set of string: ",set_string)

Set of integers: {48, 25, 32}
Set of string:  {'48', '25', '32'}

### <span style ="color:green;">36. Create a set from a tuple.<span/>

In [36]:
my_tuple = ("hello","asmita",23,"python")
print("Tuple :",my_tuple)
set_from_tuple = set(my_tuple)
print("The set created from the tuple :",set_from_tuple)

Tuple : ('hello', 'asmita', 23, 'python')
The set created from the tuple : {'python', 'hello', 23, 'asmita'}

### <span style ="color:green;">37. Convert a set to a tuple.<span/>

In [37]:
my_set = {'python', 'hello', 23, 'asmita'}
print("originsl set :",my_set)
tuple_from_set = tuple(my_set)
print("The tuple created from the set :",tuple_from_set)

originsl set : {'python', 'hello', 'asmita', 23}
The tuple created from the set : ('python', 'hello', 'asmita', 23)

### <span style ="color:green;">38. Find the maximum value in a set.<span/>

In [39]:
my_set = {2,23,6,12,18}
max_value = None
for i in my_set:
    if max_value ==  None or i >max_value:
        max_value = i 
print("The maximum value in the set is :",max_value)

The maximum value in the set is : 2

### <span style ="color:green;">39. Find the minimum value in a set.<span/>

In [40]:
my_set = {12,20,14,15,7,25}
min_value = None
for i in my_set:
    if min_value ==  None or i < min_value:
        min_value = i 
print("The minimum value in the set is :",min_value)

The minimum value in the set is : 7

### <span style ="color:green;">40. Create a set from user input.<span/>

In [45]:
my_set = set(input('Enter space-separated words: ').split())

print(my_set)

Enter space-separated words:  asmita python hello das

{'das', 'python', 'hello', 'asmita'}

### <span style ="color:green;">41. Check if the intersection of two sets is empty.<span/>

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {9, 10, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

### <span style ="color:green;">42. Create a set of the first 5 Fibonacci numbers.<span/>

In [54]:
a, b = 0, 1
fib_set = set()
for i in range(6):
    fib_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers: ",fib_set)

Set of the first 5 Fibonacci numbers:  {0, 1, 2, 3, 5}

### <span style ="color:green;">43. Remove duplicates from a list using sets.<span/>

In [58]:
my_list =[10,12,14,14,115,18,10,16]
my_set = set(my_list)
new_list =list(my_set)
print("Original list: ",my_list)
print("New list after removing duplicates :",new_list)

Original list:  [10, 12, 14, 14, 115, 18, 10, 16]
New list after removing duplicates : [10, 12, 14, 16, 18, 115]

### <span style ="color:green;">44. Check if two sets have the same elements, regardless of their count.<span/>

In [65]:
set_1 = {1,2,3,4,5}
set_2 = {9,10,6,7,8}
def have_same_elements(set_1, set_2):
    sorted_list1 = sorted(list(set_1))
    sorted_list2 = sorted(list(set_2))
    
    return sorted_list1 == sorted_list2
result = have_same_elements(set_1, set_2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets do not have the same elements.

### <span style ="color:green;">45. Create a set of the first `n` powers of 2.<span/>

In [67]:
powers_of_2_set = set()

n = 5  # define the power of n
for i in range(n):
    power = 2**i
    powers_of_2_set.add(power)
print(powers_of_2_set)

{1, 2, 4, 8, 16}

### <span style ="color:green;">46. Find the common elements between a set and a list.<span/>

In [80]:
my_list =[2,4,5,6,8]
my_set = [2,6,8,9,10]
list_to_set = set(my_list)
common_element = []
for element in my_set:
    if element in list_to_set:
        common_element.append(element)
print("Common elements :",common_element)

Common elements : [2, 6, 8]

### <span style ="color:green;">47. Create a set of the first `n` triangular numbers.<span/>

In [83]:
triangular_numbers = set()
n = int(input("The Value of n :"))

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2  
    triangular_numbers.add(triangular_number)
print("The first ",n,"triangular numbers :",triangular_numbers)

The Value of n : 5

The first  5 triangular numbers : {1, 3, 6, 10, 15}

### <span style ="color:green;">48. Check if a set contains another set as a subset.<span/>

In [94]:
set_1 = {1,2,3,4,5}
set_2 = {1,2,3}
is_subset = set_2.issubset(set_1)
if  is_subset:
    print("Yes the set is subset to another set")
else:
    print("No the set is not subset to another set")

Yes the set is subset to another set

### <span style ="color:green;">49. Create a set of alternating 1s and 0s of length `n`.<span/>

In [96]:
n = 10
alternating_set = set(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

### <span style ="color:green;">50. Merge multiple sets into one.<span/>

In [97]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {6,7,8}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7, 8}